- page_title "Find File", @ref
- header_title project_title(@project, "Files", project_files_path(@project))

.file-finder-holder.tree-holder.clearfix
  .gray-content-block.top-block
    .tree-ref-holder
      = render 'shared/ref_switcher', destination: 'find_file', path: @path
    %ul.breadcrumb.repo-breadcrumb
      %li
        = link_to namespace_project_tree_path(@project.namespace, @project, @ref) do
          = @project.path
      %li.file-finder
        %input#file_find.form-control.file-finder-input{type: "text", placeholder: 'Find by path'}

  %div.tree-content-holder
    .table-holder
      %table.table.files-slider{class: "table_#{@hex_path} tree-table table-striped" }
        %tbody
      = spinner nil, true

:coffeescript
  projectFindFile = new ProjectFindFile($(".file-finder-holder"), {
    url: "#{escape_javascript(namespace_project_files_path(@project.namespace, @project, @ref, @options.merge(format: :json)))}"
    treeUrl: "#{escape_javascript(namespace_project_tree_path(@project.namespace, @project, @ref))}"
    blobUrlTemplate: "#{escape_javascript(namespace_project_blob_path(@project.namespace, @project, @id || @commit.id))}"
  })
  new ShortcutsFindFile(projectFindFile)
